<p>Create new training session</p>
<!-- <div>
    <div>
    <label for="new-training">Training duration in hours: </label>
    <input type="number" id="new-training" min=0 value=0 #trainingDuration />
    </div>
    <div>
    <label for="new-training">Training day: </label>
    <select 
            #trainingDay>
            <<option *ngFor="let dayOfWeek of weekDays" [value]="dayOfWeek">
                    {{dayOfWeek}}
            </option>
    </select>
  </div>
  <div>
    <label for="new-training">Type of training: </label>
    <div *ngFor="let trainType of typesOfTraining">
            <input type="radio" [(ngModel)]="selectedType"   name="options" [value]="trainType" >
            <label>{{trainType}}</label>
        
    </div>
  </div>
    <button class="add-button" (click)="add(trainingDuration.value, trainingDay.value, selectedType)">
      Add training
    </button>
</div> -->



<form [formGroup]="trainingForm" (ngSubmit)="onSubmit()">
    <div>
    <label for="new-training">Training duration in hours: </label>
    <input value=1 type="number" id="new-training" min=0 formControlName="hour"/>
    </div>
    <div>
    <label for="new-training">Training day: </label>
    <select formControlName="day">
            <<option *ngFor="let dayOfWeek of weekDays" [value]="dayOfWeek">
                    {{dayOfWeek}}
            </option>
    </select>
  </div>
  <div>
    <label for="new-training">Type of training: </label>
    <div *ngFor="let trainType of typesOfTraining" >
            <input type="radio" formControlName="type" [value]="trainType">
            <label>{{trainType}}</label>
        
    </div>
  </div>
  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!trainingForm.valid">Submit</button>

</form>