
<div *ngIf="trainingSession">

    <h2>Workout Details</h2>
    <!-- {{trainingSession.type}} <div><span>id: </span>{{trainingSession.id}}</div> -->
    <div>
        <label for="hours">Training duration in hours: </label>
        <input type="number" id="hours" min=0 [(ngModel)]="trainingSession.hours" placeholder="hours">
    </div>
    <div>
        <label for="new-training">Training day: </label>
        <select 
                [(ngModel)]="trainingSession.day">
                <<option *ngFor="let dayOfWeek of weekDays" [value]="dayOfWeek">
                        {{dayOfWeek}}
                </option>
        </select>
      </div>
      <div>
        <label for="new-training">Type of training: </label>
        <div *ngFor="let trainType of typesOfTraining">
                <input type="radio" [(ngModel)]="trainingSession.type"   name="options" [value]="trainType" >
                <label>{{trainType}}</label>
            
        </div>
      </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
</div>