<!-- <h2>{{trainingSession.type}} Details</h2>

<div>
    <label for="type">Training type: </label>
    <input id="type" [(ngModel)]="trainingSession.type" placeholder="type">
  </div> -->
<!-- 
<div><span>id: </span>{{trainingSession.id}}</div>
<div><span>hours: </span>{{trainingSession.hours}}</div>
<div><span>type: </span>{{trainingSession.type}}</div> -->

 

<h2>My Workouts</h2>
<ul class="trainingSessions">
    <li *ngFor="let trainingSession of trainingSessions" >
        <a routerLink="/edit/{{trainingSession.id}}">
        <span class="badge">{{trainingSession.id}}</span> {{trainingSession.type}} completed on {{trainingSession.day}}
        </a>
        <button class="delete" title="delete training"
            (click)="open(content, trainingSession)">x</button>
    </li>

</ul>
<ng-template #content let-c="close" let-d="dismiss">   
<div class="backdrop"> 
<div class="modal-content">
 <div class="miniHeader">
  <!-- <div class="modal-header">    
      <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>    
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">    
          <span aria-hidden="true">×</span>    
      </button>    
  </div>     -->
  <div class="modal-body">    
      <p>Are you sure to delete this?</p>    
  </div>    
  <div class="modal-footer">    
      <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>    
      <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Yes</button>    
  </div>    
</div>
</div>
</div>
</ng-template>  
<a routerLink="/add">
  <button class="add-button" >
  Add new workout
</button>
</a>






<!-- <div>
    <div>
    <label for="new-training">Training duration in hours: </label>
    <input type="number" id="new-training"  #trainingDuration />
    </div>
    <div>
    <label for="new-training">Training day: </label>
    <select 
            #trainingDay>
            <<option *ngFor="let dayOfWeek of weekDays" [value]="dayOfWeek">
                    {{dayOfWeek}}
            </option>
    </select>
  </div>
  <div>
    <label for="new-training">Type of training: </label>
    <div *ngFor="let trainType of typesOfTraining">
            <input type="radio" [(ngModel)]="selectedType"   name="options" [value]="trainType" >
            <label>{{trainType}}</label>
        
    </div>
  </div>
    <button class="add-button" (click)="add(trainingDuration.value, trainingDay.value, selectedType)">
      Add training
    </button>
</div> -->



<!-- <app-training-detail [trainingSession]="selectedTrainingSession"></app-training-detail>


[class.selected]="trainingSession === selectedTrainingSession" (click)="onSelect(trainingSession)"
-->
